
<div class="row">

  <div class="col-md-12">
    <h1>Geofence Notifications</h1>
    <p>
	    <ul>
	    	<li><%= @geofence_notification_counts %> total geofence notifications fired</li>
	    	<li><%= @geofence_notifications_clicked %> clicked on</li>
	    </ul>
    </p>
  </div>

</div>

